html {
    scroll-behavior: smooth;
  }  

@font-face {
    font-family: Modeseven;
    src: url(Modeseven-L3n5.ttf);
  }

*{ 
    font-family: Modeseven;
}

p {
    font-size: 1vw;
}

body{
    background-color:rgb(255, 232, 129);
}

h1{
    font-size: 3vw;
    font-weight: 5vw;
    padding: 0;
    margin: 0 0 0 0;
}

h2{
    font-size:2vw;
    font-weight: 50vw;
}


/*barra*/
div.topnav{
    display: flex;
    margin: 2vw 0vw 8vw 2vw;
    padding: 0vw 4vw 0 0;
    width:100vw;
    height: 2vw;

 
}
div.topnav a{ 

        background-color: rgb(255, 242, 184);   
        border-radius: 1vw;
        border: none;
        transition: .5s background-color;

    font-size: 2vw;
    margin-right: 2.5vw;
    padding: 2vw 2vw 4vw 2vw;
    text-decoration: underline;

    
}

div.topnav a:hover {        
    background-color: rgb(255, 221, 70);

}

/*TOPNAV PHONE*/
.dropbtn {
    padding: 0;
    font-size:0;
    width: 0;
    height: 0;
    border: none;
    cursor: pointer;
  }
  
  div#myDropdown {
      font-size: 0;
  }
/**/


/*tarjeta general*/
.tarjeta {
    background-color: rgb(255, 242, 184);
    clip-path:polygon(
        0.12vw 6vw, 
        6vw 0.12vw, 
        calc(100% - 0.12vw) 0.12vw, 
        calc(100% - 0.12vw) calc(100% - 2.16vw), 
        calc(100% -  2.16vw) calc(100% - 2.16vw), 
        0.12vw calc(100% - 2.16vw), 
        0.12vw 2.16vw
        );
        width: 80vw;
        height: 30vw;
        margin: auto;
        padding: .5vw 0 5vw 0;
}
.tarjeta-wrap {
    width: 80vw;
    margin: auto;
    padding: .5vw 0 5vw 0;
    filter: drop-shadow(-.2vw .7vw .7vw rgba(50, 50, 0));

  }

.titulo {
    padding-left: 10vw;
}


.interior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 30vw;
    width: 75vw;
    margin:0 15vw 0 2vw ;
}

.cuadrados{
    margin: 0;
    padding: 0;
}
.cuadrados li {
    list-style: none;
    background-color: black;
    width: .5vw;
    height: 1vw;
    margin: 6.5vw 0 0 2vw;
    
}
.cuadrados li:first-of-type {

    margin-top: 0vw;
}

/*about*/

#descripcion{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 2vw 2vw 2vw 2vw;
}

.linea {
    background-color: black;
    width: 1vw;
    height: 22vw;
    margin: 2vw 0 2vw 0;
}

#perfil{
  
    font-size: .5vw;
    font-family:'Courier New', Courier, monospace;
    margin: 2vw 3vw 0vw 3vw;
    padding: 0vw;
    line-height: .55vw;
}

/*projects*/

#lProjects.linea{
    background-color: black;
    width: 0.5vw;
    height: 22vw;
    margin: 1vw 2vw 2vw 3vw;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: auto;
}

.project h2{
    font-size: 2vw;
    box-sizing: border-box;
    width: 10vw;
    margin-right: 3vw;
}
.project p{
    font-size: 1.2vw;
    box-sizing: border-box;
    width: 45vw;
}

.project p a{
    text-decoration: underline;
}

/*skills*/

.skillsWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10vw;
    margin-top: -1vw;
    margin-left: 2vw;
}
.skills{
    margin-left: 2vw;
}

.puntuacion, #puntuacion2  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 30vw;

    padding: 0;

    list-style: none;

}
.puntuacion pre{
    font-size: .4vw;
    font-family:'Courier New', Courier, monospace;
    padding: 0vw;

}

pre {
    font-size: .4vw;
    line-height: .45vw;
}

pre p{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 2vw;
    margin-top: 0;
}

p#js{
    margin-left: 0vw;
}
p#java{
    margin-left: 2.5vw;
}
p#sql{
    margin-left: 2.5vw;
}



.puntuacion{
    margin: 0;
    padding: 0;
}

.puntuacion li {
    background-color: black;
    width: 2.5vw;
    height: 5vw;
}

#puntuacion2{
    border-style: dashed;
    height: 6vw;
    border-width: .5vw;
    border-color: solid black;
    margin: 1vw 1vw 1vw 1vw;
}
#puntuacion2 li {
    background-color: black;
    width: 1.5vw;
    height: 3vw;
    margin: 1vw 0 0vw 1vw;
}



/*contact*/



p.linea#lcontacto{
    width: 60vw;
    height: .5vw;
}
ul.redes {
    
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 5vw;
    margin-bottom: -1vw;
    margin-top: 3vw;
}
ul.redes li pre {
    font-size: .4vw;
    line-height: .5vw;
    white-space: pre;
}
a:link{
    color: black;
    font-style: none;
    text-decoration: none;
    letter-spacing: 0;
}
a:visited{
    color: black;
    font-style: none;
    text-decoration: none;
}


ul.redes li p {
    margin: auto;
}
ul.redes li p#github {
margin-left: 1.2vw;
}
ul.redes li p#linkedln{
    margin-left: .6vw;
    }
ul.redes li p#behance{
        margin-left: 2vw;
        }
    

#mail {
    font-size: 1.5vw;
    text-align: end;
    padding-top: 1.5vw;
    padding-right: 1vw;
}

/*Punched card*/
div#punchedCard {
        padding-left: 7vw;
}

div#punchedCard pre{
    line-height: .5vw;
    text-align: center;
}

div#punchedCard p#punchedText {
    width: 60vw;
    font-size: 1.5vw;
    text-align: justify;
    padding-top: 1.5vw;
    padding-left: 1vw;
}

/*Hello World*/
.helloWorld {
    width: 75vw;
    height: 30vw;    
    margin: -27vw 0vw 2vw -5vw;
    display: flex;
    flex-direction: row;
}
ul#perforacion {
    list-style: none;
    width: 0vw;
    margin: 0 1vw 0 0;
    padding: 0;
    height: 30vw;


}
ul#perforacion li {
    width: .7vw;
    height: 1.4vw;
    margin-bottom: 1.202vw;
}


/*Button*/

button {
    
    font-size: 1vw;
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: rgb(255, 242, 184);   
    border-radius: 1vw;
        width: 10vw;
        height: 5vw;
        margin: 3vw auto auto auto;
        padding: 1.5vw 1vw 0vw 1vw;
    border: none;
    transition: .5s background-color;
}

button:hover {
    background-color: rgb(255, 221, 70);
  

}

/*Animacion intro*/
  
  @keyframes myAnimation {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
 }
 
#t1 {
animation-name: myAnimation;
animation-duration: 2s;
animation-delay: 0s;
opacity: 0;
animation-fill-mode: forwards;
}

#t2 {
animation-name: myAnimation;
animation-duration: 2s;
animation-delay: .5s;
opacity: 0;
animation-fill-mode: forwards;
}

#t3 {
animation-name: myAnimation;
animation-duration: 2s;
animation-delay: 1s;
opacity: 0;
animation-fill-mode: forwards;
}

#t4 {
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-delay: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    }
    
#t5 {
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-delay: 0s;
    opacity: 0;
    animation-fill-mode: forwards;
    }


/* transiciones hover*/
  
     #t1, #t2, #t3, #t4, #t5 {
       
        transition: transform .2s;
     }
     
     #t1:hover, #t2:hover, #t3:hover, #t4:hover, #t5:hover {
        transform: scale(1.1);
  
        }





/*Button up*/
#BtnUp {
    display: none;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    z-index: 99;
    font-size: 2vw;
    border: .3vw;
    border-style: solid;
    border-color: black;
    outline: none;
    cursor: pointer;
    border-radius: .4vw;
    
        font-size: 2vw;
        width: 5vw;
        height: 5vw;
    

  }


  
  


 @media only screen and (min-width:0px) and (max-width: 750px) {


/*TOPNAV*/
           
div.topnav{
    margin: 0;
    padding: 0;
    width:0;
    height:0;
 
}
div.topnav a{ 

        background-color: none;
        border-radius: 0;
        transition: .5s background-color;

    font-size: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;

    
}

div.topnav a:hover {        
    background-color: none;

}

/*TOPNAV PHONE*/
.dropbtn {
    padding-top: 1.2vw;
    font-size: 5vw;
    width: 10vw;
    height: 10vw;
    border: none;
    cursor: pointer;
  }
  

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  div#myDropdown {
    font-size: 5vw;
}



/**/
            .tarjeta {

                    width: 80vw;
                    height: 35vw;
                    padding: .5vw 0 5vw 0;
            }
    p {
                font-size: 1.3vw;
            }

            h1{
                font-size: 4.2vw;
                width: 35vw;
                margin-top: .5vw;
            }
            
            h2{
                font-size:2.5vw;
            }
            .project h2{
                font-size: 2vw;

            }
            .project p{
                font-size: 1.2vw;

            }
            #t1, #t2, #t3, #t4, #t5 {
       
                transition: transform .2s;
             }
             
             #t1:hover, #t2:hover, #t3:hover, #t4:hover, #t5:hover {
                transform: scale(1.2);
          
                }



                
.linea {
    background-color: black;
    width: 2vw;
    height: 29vw;
    margin: 0vw 0 2vw 0;
}

            
        }
