@font-face {
    font-family: Modeseven;
    src: url(Modeseven-L3n5.ttf);
  }

*{ 
    font-family: Modeseven;
}

pre{
    font-size: 55%;
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color:rgb(255, 232, 129);
}

h1{
    font-size: 300%;
    font-weight: 500%;
    padding: 0;
    margin: 0 0 0 0;
}

h2{
    font-size:200%;
    font-weight: 500%;

}

.tarjeta {
    background-color: rgb(255, 232, 129);
    clip-path:polygon(
        2px 150px, 
        150px 2px, 
        calc(100% - 2px) 2px, 
        calc(100% - 2px) calc(100% - 36px), 
        calc(100% - 36px) calc(100% - 36px), 
        2px calc(100% - 36px), 
        2px 36px
        );
        width: 80%;
        margin: auto;
        padding: 2% 0 5% 0;
}
.tarjeta-wrap {
    width: 100%;
    margin: auto;
    padding: 2% 0 5% 0;
    filter: drop-shadow(-2px 10px 10px rgba(50, 50, 0));

  }

.titulo {
    padding-left: 5em;
}


.interior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 50%;
    margin:0 7% 0 5% ;
}

.cuadrados li {
    list-style: none;
    background-color: black;
    width: 1em;
    height: 2em;
    margin-top: 6em;
}
.cuadrados li:first-of-type {

    margin-top: 0;
}


#descripcion{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 2em 2em 2em 2em;
}

.linea {
    background-color: black;
    width: 1em;
    height: 25em;
    margin: 2em 0 2em 0;
}

#lProjects.linea{
    margin: 2em 0 2em 3em;
}

#perfil{
    margin: 4em 2em 4em 4em;    
}

.project{
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project h2{
    margin-right: 2em;
    width: 100%;
}
.project p{
    margin-top: 1.7em;
    width: 300%;
}

.skills{
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
}
.skill pre {
    font-size: 0em;
}
